@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model SICalcWebApp.Areas.RiceMill.Models.SortexProcess



<div class="form-container">
    <h2 class="form-header">Sortex Process</h2>
    <form asp-action="StartSortex" method="post">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="BatchId">Batch ID</label>
                    <select asp-for="BatchId" class="form-control">
                        <option value="">-- Select Batch ID --</option>
                        @foreach (var batchId in ViewBag.CompletedBatches as List<string>)
                        {
                            <option value="@batchId">@batchId</option>
                        }
                    </select>
                    <span asp-validation-for="BatchId" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="SortexBunkerName">Sortex Bunker</label>
                    <select asp-for="SortexBunkerName" class="form-control">
                        <option value="">-- Sortex Bunker --</option>
                        @foreach (var staffName in ViewBag.SortextBunker as List<string>)
                        {
                            <option value="@staffName">@staffName</option>
                        }
                    </select>
                    <span asp-validation-for="SortexBunkerName" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="StaffName">Staff Name</label>
                    <select asp-for="StaffName" class="form-control">
                        <option value="">-- Select Staff --</option>
                        @foreach (var staffName in ViewBag.StaffNames as List<string>)
                        {
                            <option value="@staffName">@staffName</option>
                        }
                    </select>
                    <span asp-validation-for="StaffName" class="text-danger"></span>
                </div>

                
            </div>
        </div>
        <div class="text-center mt-3">
            <button type="submit" class="btn btn-primary">Start Sortex Process</button>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<style>
    .form-container {
        max-width: 600px;
        margin: 0 auto;
        margin-top: 20px;
        padding: 20px;
        padding-top: 0;
        background-color: #f8f9fa;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .form-header {
        text-align: center;
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 20px;
        color: burlywood;
    }
</style>
