@model IEnumerable<SICalcWebApp.Areas.SICalculator.Models.FC>

@{
    ViewData["Title"] = "FcList";
}

<h1>FcList</h1>

@if (TempData["Message"] != null)
{
    <p> @TempData["Message"] </p>
}

<p>
    <a asp-action="FcCreate">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FCValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C_Fe)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FCValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C_Fe)
            </td>
            <td>
                    <a asp-action="FcEdit" asp-route-id="@item.FCId">Edit</a> |

                    <form asp-action="FcDelete" method="post" style="display:inline;">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="id" value="@item.FCId" />
                        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                    </form>
            </td>
        </tr>
}
    </tbody>
</table>
